.calendar {
  margin-top: 1rem;
}

.weekBlock {
  width: 100%;
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2rem 2rem 1rem 1rem;
}

.weekHeader {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.entries ul {
  list-style-type: none;
}

.entry {
  margin-bottom: 1rem;
}

.entry p {
  display: inline;
}

.calendar hr {
  border: none;
  border-top: 1px dashed rgb(184, 184, 184);
  margin-left: 1rem;
  width: 30rem;
}
