.calendar {
  margin-top: 1rem;
}

.weekBlock {
  width: 100%;
  display: flex;
  border: 1px solid black;
 
  padding: 0rem ;
}

.weekBlockCurrent{
  background-color:rgb(220, 236, 245);
}

.weekHeader {
  width: 7rem;
  display: flex;
  flex-direction: column;
  padding: 1em;
  flex-shrink: 0;
  background-color: #888;
  color:white;
  font-size: small;
}

.weekHeaderCurrent{
  background-color:rgb(73, 113, 136);
}

.weekNumber {
  font-weight: bold;
  font-size: xxx-large;
}

.entries ul {
  list-style-type: none;
}

.entry {
  margin-bottom: 1rem;
}

.calendar hr {
  border: none;
  border-top: 1px dashed rgb(184, 184, 184);
  margin-left: 1rem;
  width: 30rem;
}
